<app-scrollable-tab 
[menus] ="topMeues" 
[backgroundColor]="scrollableColor"
[indicatorColor]="'blue'"
 (tabSelected)="handleTabSelected($event)"></app-scrollable-tab>
 
 <app-image-slider [sliders]="imageSliders" #imageSlider></app-image-slider>
 <app-horizontal-grid >
  <div appGridItem *ngFor="let item of channels">
    <img [src]="item.icon" alt="" appGridItemImage="2rem" fitMode="cover">
    <span appGridItemTitle="0.6rem">{{item.title}}</span>
</div>
<div appGridItem>
  <div appGridItemImage='4rem' style="background-color: red;"></div>
  <span appGridItemTitle="0.6rem">hello</span>
</div>
 </app-horizontal-grid>


<!-- <router-outlet></router-outlet> -->