ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
}

ul>li{
display: flex;
justify-content: space-between;
margin:0 5px;
white-space: nowrap;
flex-direction: column;
align-items:center;
margin: 0 5px;
padding: 0;

}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

.active{
    color: red;

}

.indicator{
   
    height:2px;
    width: 2rem;
    margin-top:2px

}